name: Release

on:
  push:
    tags: [ "v*" ]

permissions:
  contents: write

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: treeln-linux-x86_64
          - os: macos-latest
            target: x86_64-apple-darwin
            name: treeln-macos-x86_64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            name: treeln-windows-x86_64.exe

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - run: cargo build --release --target ${{ matrix.target }}

      - if: runner.os != 'Windows'
        run: |
          cd target/${{ matrix.target }}/release
          tar czf ${{ matrix.name }}.tar.gz treeln
          mv ${{ matrix.name }}.tar.gz ../../../

      - if: runner.os == 'Windows'
        run: |
          cd target/${{ matrix.target }}/release
          7z a ../../../${{ matrix.name }} treeln.exe

      - uses: softprops/action-gh-release@v2
        with:
          files: treeln*
